<!DOCTYPE html>
<html>
<head>
    
    <title>About Us</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
            
        <div class="container-fluid">
            <div class="navbar-header">
                <a></a>
            </div>
        </div>

    </nav>

    <div>
        <h1>
            Welcome to Best Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
        </h1>
    </div>
</body>
</html>