<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add Review</title>   
        {% load static %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

    </head>
    <body>
    <!--Add review form here -->
        <!--Add review form here -->
        <form action="{% url 'djangoapp:add_review' dealer.id%}" method="post">
            <div class="container">
                {% csrf_token %}
                <h1>Add a review about <strong>{{dealer.full_name}}</strong></h1>
                <hr>
                <div class="form-group">
                    <label for="content"><b>Enter the review content:</b></label>
                    <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
                    <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
                    <label class="form-check-label" for="purchasecheck">Has purchased the car from {{dealer.full_name}}? (select purchased car information below if checked)</label>
                    <br>
                    <label for="content"><b>Select your car (model-make-year):</b></label>
                    <select name="car" id="car" class="form-select" required>
                        {% for car in cars %}
                            <option selected value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year|date:"Y" }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <label for="content"><b>Select your purchase date:</b></label>
                    <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate">

                    <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </body>

    <script type="text/javascript">
        $('.date-own').datepicker({
           format: 'mm/dd/yyyy'
         });
   </script>

</html>