<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><B>Contact us</B></a> 
            </div>
        </div>
    </nav>

    <div class="container">

        <p>Address : Pineapple Under the Sea, Pacific Ocean</P>
        <p>Phone : 754493018569476</P>
    </div>

</body>
</html>