<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
    <body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Home</a>  
            </div>
            <a class="nav-link" href="{% url 'djangoapp:about' %}">About Us</a>
            <a class="nav-link" href="{% url 'djangoapp:contact' %}">Contact Us</a>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>                   
                    <a class="btn btn-link" href="{% url 'djangoapp:add_review' dealer.id %}">Add a review</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username" >
                            <input type="password" class="form-control" placeholder="Password" name="psw" >
                            <button class="btn btn-primary" type="submit">Login</button>
                            <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}                  
            </ul>           
        </div>
    </nav>

    <h1>Reviews for <strong>{{dealer.full_name}}</strong></h1>
    <hr>   
    <!-- Add reviews as cards -->
    {% if review_list %}
        <div class="container">
            <div class="card-deck">
                {% for review in review_list %}
                    <div class="card" style="width: 36rem;">

                        {% if review.sentiment == "positive" %}
                            <img class="card-img-left m-3" src="{{MEDIA_URL}}/emoji/positive.png"
                                 alt="positive image" width="100" height="100" >
                        {% elif review.sentiment == "negative" %}
                            <img class="card-img-left m-3" src="{{MEDIA_URL}}/emoji/negative.png"
                                 alt="negative image" width="100" height="100">                       
                        {% else %}
                            <img class="card-img-left m-3" src="{{MEDIA_URL}}/emoji/neutral.png" 
                                 alt="neutral image" width="100" height="100">
                        {% endif %}

                        <div class="card-body bg-light">
                            <h5 class="card-title">{{ review.car_make }}, {{ review.car_model }}</h5>
                            <h5 class="card-title">{{ review.car_year }}</h5>                           
                            <p class="card-text">{{ review.review }}</p>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>No reviews are available.</p>
    {% endif %}
    </body>

</html>