<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

    <body>

        <nav class="navbar navbar-default navbar-fixed-top">
            
            <div class="container-fluid">
                <div class="navbar-header">
                        
                </div>
            </div>

        </nav>

    <!-- Add reviews as cards -->

    </body>

</html>